
.card{
    width: 90%;
    border-radius: 10px;
    margin: 15px;
    transition: 2s;
    animation-name: mani;
    justify-content: space-around;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}


@keyframes mani {
    0%{
        box-shadow: 0px 0px 10px rgb(224, 77, 77);

    }
    10%{
        box-shadow: 0px 0px 10px rgb(94, 224, 77);


    }
 
    30%{
        box-shadow: 0px 0px 10px rgb(255, 0, 217);


    }
    50%{
        box-shadow: 0px 0px 10px rgb(255, 255, 238);


    }
 
    80%{
        box-shadow: 0px 0px 10px rgb(149, 195, 58);


    }
   
    100%{
        box-shadow: 0px 0px 10px rgb(45, 75, 87);


    }
}


#imgcard{
    width: 100%;
    border-radius: 10px 10px 0px 0px;
}
button{
    padding: 6px;
   
    color: #fff200;
    background-color: blue;
    border: 2px ;
    border-radius: 2px;
    margin-left: 100px;
}
.hello{
    padding: 5px;
   
}
.head{
    display: flex;
    width: 100%;
    justify-content: space-around;
}

  

