/* body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: linear-gradient(
    to right top,
    #86308a,
    #732568,
    #5c1e4a,
    #431831,
    #2a121d,
    #2e1320,
    #311523,
    #351626,
    #562046,
    #732d6e,
    #8a409d,
    #9658d4
  );
}

form {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  width: 300px;
  transition: 2s;
}
form:hover {
  box-shadow: 0px 0px 150px rgba(23, 156, 180, 0.95);
}
h2 {
  text-align: center;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type="submit"] {
  width: 100%;
  background-color: #654caf;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
} */
